.banner {
    background-image: var(--gradient-color);
    color: var(--bg-color);
    padding: 2.5em 1.5em;
    text-align: center;
}
.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}
.banner__texto {
    font-size: 16px;
    margin: 1.5em 0;
}
.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
    border-radius: 24px;
    width: 80%;
    padding: 10px 13px;
}
.banner__pesquisa::placeholder {
    font-family: var(font-main);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--bg-color);
    background: url(../../../public/imagens/icone-lupa.svg) no-repeat;
    background-position: 13px 8px;
} 

@media screen and (min-width: 768px) {
    .banner {
        padding: 3.5em 1.5em;
    }
    .banner__titulo {
        font-size: 26px;
    }
    .banner__pesquisa {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }
    .banner__pesquisa {
        width: 50%;
    }
}
@media screen and (min-width: 1440px) {
    .banner {
        padding: 7em 0;
        margin-bottom: 2em;
    }
    .banner__pesquisa {
        font-size: 1.2vw;
        width: 40%;
    }
    .banner__pesquisa::placeholder {
        font-size: 1.2vw;
        background-position: 15px 10px;
    }
}
@media screen and (min-width: 1728px) {
    .banner__pesquisa {
        width: 30%;
        height: 2vw;
    }
    .banner__titulo {
        font-size: 2.6vw;
    }
    .banner__texto {
        font-size: 1.4vw;
    }
    .banner__pesquisa::placeholder {
        font-size: 1.1vw;
        background-position: 15px 8px;
        background-size: 1vw;
    }
}
