.card {
    background-color: var(--bg-color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 13px;
}
.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.card__botoes {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.botoes {
    display: flex;
    gap: 30px;
    margin-left: 10px;
}
.card__descricao img {
    border-radius: 5px;
    max-width: 30vw;
    margin-left: 13px;
}
.descricao__titulo {
    color: var(--text-title-color);
    font-weight: 700;
}
.descricao__titulo-livro {
    color: var(--text-price-color);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}
.descricao__texto {
    font-size: 14px;
}
.botoes__ancora {
    background-color: var(--text-title-color);
    color: var(--bg-color);
    text-align: center;
    border-radius: 5px;
    width: 30vw;
    padding: 9px .5em;
    font-size: 4.5vw;
}
@media screen and (min-width: 540px) {
    .card {
        font-size: 3vw;
        width: 70vw;
        margin: 2em auto;
    }
    .descricao__titulo {
        font-size: 3.5vw;
    }
    .descricao__titulo-livro {
        font-size: 2.8vw;
    }
    .descricao__texto {
        font-size: 2.5vw;
    }
    .botoes__ancora { 
        width: 160px;
        font-size: 3vw;
    }
}
@media screen and (min-width: 768px) {
    .card {
        width: 60%;
        margin: 2em auto;
    }
    .botoes__ancora {
        font-size: 20px;
    }
    .descricao__titulo {
        font-size: 27px;
    }
    .descricao__titulo-livro {
        font-size: 23px;
    }
    .descricao__texto {
        font-size: 17px;
    }
}
@media screen and (min-width: 1024px) {
    .card {
        width: 50%;
    }
    .descricao__texto {
        font-size: 20px;
    }
    .icone-estrela {
        width: 20px;
    }
}
@media screen and (min-width: 1440px) {
    .card {
        transform: translate(50px, -7vw);
        position: relative;
        margin-bottom: 0;
        width: 40%;
        display: inline-block;
        padding: 13px 20px;
    }
    .card__estrela {
        padding: 0px 20px;
        transform: translate(50px, -5vw);
    }
    .icone-estrela {
        width: 25px;
    }
}
@media screen and (min-width: 1728px) {
    .card {
        transform: translate(50px, -6vw);
    }
    .descricao__titulo {
        font-size: .65em;
    }
    .descricao__titulo-livro {
        font-size: .65em;
    }
    .descricao__texto {
        font-size: .5em;
    }
    .icone-estrela {
        width: 30px;
    }
}

@media screen and (min-width: 1900px) {
    .card {
        transform: translate(50px, -5.5vw);
    }
    .card__estrela {
        transform: translate(50px, -6vw);
    }
    .icone-estrela {
        width: 1.8vw;
    }
}