.carrousel__titulo {    
    color: var(--text-title-color);
    background-color: var(--bg-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em;
}
.swiper-slide img {
    width: 100%;
}
