.carrousel__titulo {    
    color: var(--text-title-color);
    background-color: var(--bg-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1.2em 0;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    background: #fff;
}
